*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 10px 0 10px;
    
}
.main{
    height: 70vh;
    width: 100%;
    display: block;
    border: 1px solid goldenrod;
    margin-left: 100px;


}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 0 20px 0 20px;
    background-color: whitesmoke;

}
.div{
    display: flex;
    
}
select{
    height: 4vh;
    width: 120px;
    background-color: rgb(206, 204, 204);
    border: 1px black solid;
    border-radius: 5px;
    font-weight: bold;
    outline: none;

}
p{
    font-size: .9em;

}
.div1{
    padding-right: 15px;

}
.images{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.div2 {
    height: 40vh;
    width: 20%;

}
.div2 img{
    height: 37vh;
    width: 90%;
    text-align: center;

}
@media (min-width: 1110px) {
    .non
    {
        display: none;
    }
    .div2 {
        width: 50%;
    
    }
  }
@media screen and (max-width:910px) {
    
    .none
    {
        display: none;
    }
    .div2 {
        width: 50%;
    
    }
    p{
        display: none;
    
    }
    .div2 img{
        height: 95%;
    }
    
}
@media screen and (max-width:500px) {
    
    .none
    {
        display: none;
    }
    .div2 {
        width: 80%;
        padding-left: 20px;
        margin-top: 20px;
    
    }
    .div2 img{
        height: 80%;
        
    }
    
    .images{
        display: block;
    }
    header{
        display: none;
    }
    .main{
        height: 90vh;
        width: 50%;
    }
    p{
        display: block;
    }
    
    
}