@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;  
}
:root{
    --principale-color : #f5f5f5 ;
    --style-color : #12f7ff ;
    --large-size : 2.5rem ;
    --box-shadow : 0 0 .8rem #12f7ff ;
    --text-shadow :0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
}
.responce{
    display: none;
}
body{
    background-color:#081B29;
    color: var(--principale-color);
}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    background: transparent;
    border-bottom: 1px solid transparent;
    background-color:#041724;

}
.logo{
    font-size: 26px; 
    font-weight: 700;
    letter-spacing: 1px;
    animation: animatelogo 1s ease forwards;
    opacity: 0;
    
    
}

@keyframes animatelogo {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.logo .cara{
    color: var(--style-color);
}
.navbar{
    display: flex; 
}
.navbar2{
    display: none;
}
.navbar li:nth-child(1){
    animation: animatechild1 1s ease forwards;
    opacity: 0;
}
.navbar li:nth-child(2){
    animation: animatechild2 1s ease forwards;
    opacity: 0;
}
.navbar li:nth-child(3){
    animation: animatechild3 1s ease forwards;
    opacity: 0;
}
.navbar li:nth-child(4){
    animation: animatechild4 1s ease forwards;
    opacity: 0;
}
.navbar li:nth-child(5){
    animation: animatechild5 1s ease forwards;
    opacity: 0;
}

@keyframes animatechild1{
   0%{
        transform: translateY(60px);
        opacity: 0;
   }
   100%{
        transform: translateY(0px);
        opacity: 1;
}

}
@keyframes animatechild2{
    0%{
         transform: translateY(80px);
         opacity: 0;
    }
    100%{
     transform: translateY(0px);
     opacity: 1;
 }
 
 }
 @keyframes animatechild3{
    0%{
         transform: translateY(120px);
         opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
 }
 
 }
 @keyframes animatechild4{
    0%{
         transform: translateY(160px);
         opacity: 0;
    }
    100%{
     transform: translateY(0px);
     opacity: 1;
 }
 
 }
 @keyframes animatechild5{
    0%{
         transform: translateY(200px);
         opacity: 0;
    }
   100%{
     transform: translateY(0px);
     opacity: 1;
 }
 
 }
.navbar a{
    font-size: 1rem;
    color: var(--principale-color);
    font-weight: 500;
    padding: 10px 27px;
}
.navbar a:hover{
    color: var(--style-color);
    text-shadow: 0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6);
}
.navbar a.active{
    color: var(--style-color);
}

section{
    padding: 100px 8%;
}
.firstpage{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4rem;

}

.elements{
    max-width: 600px;
}
.elements h1{
    font-size: var(--large-size);
    font-weight: 700;
    animation: animateh1 1s ease forwards;
    opacity: 0;
}
@keyframes animateh1 {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
.elements h3{
    font-weight: 600;
    font-size: 1.5em;
    animation: animateh3 1s ease forwards;
    opacity: 0;
}
@keyframes animateh3{
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
.elements h1{
    font-size: 2em;
    font-weight: 700;
    color: var(--style-color);
    text-shadow: 0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6);
}
.elements p{
    font-size: 1rem;
    color: #bdbdbd;
    line-height: 1.6;
}
.social-icons{
    display: flex;
    align-items: center;
    width: 320px;
    margin: 1rem 0 2rem;
}
.navbar li:nth-child(1){
    animation: animatechild1 1s ease forwards;
    opacity: 0;
}
.navbar li:nth-child(2){
    animation: animatechild2 1s ease forwards;
    opacity: 0;
}
.navbar li:nth-child(3){
    animation: animatechild3 1s ease forwards;
    opacity: 0;
}


.elements .buttons{
    display: flex;
    justify-content: space-between;
    width: 325px;
    height: 50px;
}
.elements .buttons .link{
    width: 155px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: var(--box-shadow);
    transition: 0.5s;
    border-radius: 5px;
    color: var(--style-color);
    border: 2px solid var(--style-color);
}
.buttons .link:hover{
    color: var(--principale-color);
    background-color: #12f7ff;

}
.cv{
    animation: animatecv 1s ease forwards;
    opacity: 0; 
}
@keyframes animatecv {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.hire{
    animation: animatehire 1s ease forwards;
    opacity: 0;
}
@keyframes animatehire {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.image0{
    width: 60%;
    height: 50vh;
    margin-left: 30%;
    border-radius: 50%;
    box-shadow : 0 0 1rem #12f7ff,
    0 0 2rem #b408b4,
    0 0 3rem #12f7ff,
    0 0 4rem #b408b4,
    0 0 5rem #12f7ff,
    0 0 6rem #b408b4,
    0 0 7rem #12f7ff;
    animation: animateimg 2s ease forwards;
    opacity: 0;
}
@keyframes animateimg {
    0%{
        transform: translateY(100px);
        opacity: .33;
    }
    50%{
        transform: translateY(-100px);
        opacity: .66;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.social-icons a:nth-child(1){
    animation: animatea1 1s ease forwards;
    opacity: 0;
}
.social-icons a:nth-child(2){
    animation: animatea2 1s ease forwards;
    opacity: 0;

} 
.social-icons a:nth-child(3){
    animation: animatea3 1s ease forwards;
    opacity: 0;
}
.social-icons a:nth-child(4){
    animation: animatea4 1s ease forwards;
    opacity: 0;
}
@keyframes animatea1{
    0%{
         transform: translateY(50px);
         opacity: 0;
    }
    100%{
         transform: translateY(0px);
         opacity: 1;
 }
 
 }
 @keyframes animatea2{
     0%{
          transform: translateY(-50px);
          opacity: 0;
     }
     100%{
      transform: translateY(0px);
      opacity: 1;
  }
  
  }
  @keyframes animatea3{
     0%{
          transform: translateY(50px);
          opacity: 0;
     }
     100%{
         transform: translateY(0px);
         opacity: 1;
  }
  
  }
  @keyframes animatea4{
     0%{
          transform: translateY(-50px);
          opacity: 0;
     }
     100%{
      transform: translateY(0px);
      opacity: 1;
  }
  
  }
.firstpage-image{
    position: relative;
}   
.image-container{
    text-align: center;
}

.social-icons a{
    height: 35px;
    width: 35px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #12f7ff;
    border-radius: 50%;
    background: transparent;
    font-size: 20px;
    color:  #12f7ff;
    margin: 23px 10px 20px 0px;
}


.About{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4rem;
}
.About h1{
    color: #12f7ff;
    text-shadow: var(--text-shadow);
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 2em;
    animation: animateabout 1s ease forwards;
    opacity: 0;
}
.About h2{
    padding-bottom: 15px;
    animation: animateabout 1s ease forwards;
    opacity: 0;
}
.About p{
    font-weight: 200;
    font-size: large;
    animation: animateabout 1s ease forwards;
    opacity: 0;
}
.About p span{
    color: #12f7ff;
    text-shadow: var(--text-shadow);
}
.About button{
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    background-color:#12f7ff;
    box-shadow: var(--box-shadow);
    animation: animateabout 1s ease forwards;
    opacity: 0;
}
.About button:hover{
    background-color: #081B29;
    transform: scale(1.1);
}
@keyframes animateabout{
    0%{
         transform: translateY(100px);
         opacity: 0;
    }
    100%{
         transform: translateY(0px);
         opacity: 1;
 }
 
 }
.information{
   position: absolute;
   left: 45%;
}
.image1{
    width: 60%;
    height: 50vh;
    border-radius: 50%;
    box-shadow : 0 0 1rem #12f7ff,
    0 0 2rem #b408b4,
    0 0 3rem #12f7ff,
    0 0 4rem #b408b4,
    0 0 5rem #12f7ff,
    0 0 6rem #b408b4,
    0 0 7rem #12f7ff;
    animation: animateimg1 2s ease forwards;
    opacity: 0;
}
 

@keyframes animateimg1 {
    0%{
        transform: translateY(100px);
        opacity: .33;
    }
    50%{
        transform: translateY(-100px);
        opacity: .66;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.Services{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align:center;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.cards div{
    width: 270px;
    height: 350px;
    border: 1.5px solid #12f7ff;
    border-radius: 10px;
}
.cards img{
    width: 250px;
    height: 180px;
    margin-top: 10px;
    border: 1px solid #12f7ff;
    border-radius: 7px;
    transition: .3s;
}
.cards img:hover{
    width: 268px;
}
.cards a{
    color:white;
    font-size: 2em;
    color: #12f7ff;
}
.card0,.card1,.card2,.card3{
    padding-top: 10px;
}
.card0 h2,.card1 h2,.card2 h2,.card3 h2{
    color: #12f7ff;
    text-shadow: var(--text-shadow);
 }
 .cards .link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: var(--style-color);
    border: 2px solid var(--style-color);
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .5s;
    box-shadow: var(--box-shadow);
    border-radius: 5px; 
 }
 .cards .link:hover{
    color: var(--bg-color);
    background-color: #12f7ff;
}




.Services h1{
    margin-bottom: 25px;
    font-size: 2.5em;
}
.Services span{
    color:#12f7ff;
    text-shadow: var(--text-shadow);
}
.Projects{
    text-align:center;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4rem;
}
.head{
    font-size: 2.5em;

}
.tube{
    padding-top: 30px;
}

.line{
    height: 5px;
    width: 255px;
    background-color: #000;
    margin-left: 185px;
    border-radius: 10px;
    position: relative;
}
.css1 i{
    color: blue;
    padding-right: 7px;
}
.html,.css1,.boots,.php,.Python  {
    position: absolute;
    margin-left: 180px;
}
.html i {
    color: orangered;
    padding-right: 7px;
}
.boots i{
    color: rgb(77, 19, 149);
    padding-right: 7px;
}
.php i{
    color: rgb(24, 24, 81);
    padding-right: 7px;
}
.Python i{
    color: yellow;
    padding-right: 7px;
}
.tube h4{
    margin-right: 110px;
}
.css1{
    padding-right: 10px;
}
.boots{
    padding-left: px;
}
.php{
    padding-right: 20px;
}
.Python{
    padding-left: px;
}
.line .htm{
    height: 100%;
    width: 80%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate0 ease 1s forwards;
}
@keyframes animate0 {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
.line .cs{
    height: 100%;
    width: 75%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate1 ease 1s forwards;
}
@keyframes animate1 {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
.line .boo{
    height: 100%;
    width: 50%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate2 ease 1s forwards;
}
@keyframes animate2 {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
.line .ph{
    height: 100%;
    width: 10%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate3 ease 1s forwards;
}
@keyframes animate3 {
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
}
.line .py{
    height: 100%;
    width: 60%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate4 ease 1s forwards;
}
@keyframes animate4 {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}


.line .Communication{
    height: 100%;
    width: 60%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate6 ease 1s forwards;
}
@keyframes animate6 {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
.line .probleme{
    height: 100%;
    width: 70%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate7 ease 1s forwards;
}
@keyframes animate7 {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
.line .Leadership{
    height: 100%;
    width: 60%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate8 ease 1s forwards;
}
@keyframes animate8 {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
.line .Adaptability{
    height: 100%;
    width: 50%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate9 ease 1s forwards;
}
@keyframes animate9 {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
.line .Teamwork{
    height: 100%;
    width: 80%;
    background-color: #12f7ff;
    border-radius: 10px;
    border: 1px solid #12f7ff;
    position: absolute;
    left: 0%;
    animation: animate10 ease 1s forwards;
}
@keyframes animate10 {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}














































.purcentage{
    margin-left: 305px;
}
.Contact{
    min-height: 100vh;
    width: 100%;
    height: 100%;

}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4rem;

   
    
}
.Contact span{
    color: #12f7ff;
    text-shadow: var(--text-shadow);
}
.Contact h1{
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}
.Contact input{
    height: 45px;
    width: 350px;
    outline: none;
    border-radius: 7px;
    border: none;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 10px;
    background-color: rgb(164, 160, 160);
}
textarea{
    width: 705px;
    border-radius: 7px;
    height: 225px;
    margin-top: 3px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: rgb(164, 160, 160);
}
.Contact button{
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color:#12f7ff;
    box-shadow: var(--box-shadow);
    margin-left: 292.5px;
    transition: .5s;
    animation: animatebutt 1.5s ease forwards;
    opacity: 0;
}
@keyframes animatebutt {
    0%{
        transform: translateY(-350px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.Projects{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    align-items: center;

}

.infopers{
    position: relative;
}
.infopers h3{
    margin-right: 250px;

}
.infopers .num{
    margin-right: 170px;
}
.main h2{
    color: var(--style-color);
    font-size: 2em;
    font-weight: 500;
    padding-bottom: 20px;
    text-shadow: var(--text-shadow);
}
.main h3{
    color: var(--style-color);
    font-weight: 500;
}


i{
    transition: .5s;
}
i:hover{
    transform: rotate(360deg);

}
.right{
    animation: animateright 3s ease forwards;
    opacity: 0;
}
@keyframes animateright {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.left{
    animation: animateleft 3s ease forwards;
    opacity: 0;
}
@keyframes animateleft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
textarea{
    animation: animatetext 4s ease forwards;
    opacity: 0;
}
@keyframes animatetext{
    0%{
        transform: scale(1.2);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.container2 .bottom{
 
    position: fixed;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
    border-bottom: 1px solid transparent;
    background-color:#010508;
}
@media all and (max-width:400px)  { 
    body{
        position: relative;
    }  
    header{
        position: fixed;
        width: 400px;
        height: 50px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;

    
    }
    .logo{
        font-size: 13px; 
        font-weight: 300;
        letter-spacing: 1px;
        animation: animatelogo 1s ease forwards;
        opacity: 0;
        }
    .navbar{
            display: none;
        }
    .firstpage{
            min-height: 100vh;
            width: 400px;
            height: 100%;
            display: block;
            align-items: center;
        }
    .elements{
            width: 250px;
        }   
    .elements h1{
        font-size: x-small;
            font-weight: 500;
            animation: animateh1 1s ease forwards;
            opacity: 0;
        }
        .elements h3{
            font-weight: 400;
            font-size: small;
            animation: animateh3 1s ease forwards;
            opacity: 0;
        }

        .elements h1{
            font-size: 1em;
            font-weight: 700;
            color: var(--style-color);
            text-shadow: 0 0 10px rgba(18,247,255,0.6),
            0 0 20px rgba(18,247,255,0.6),
            0 0 30px rgba(18,247,255,0.6),
            0 0 40px rgba(18,247,255,0.6),
            0 0 70px rgba(18,247,255,0.6),
            0 0 80px rgba(18,247,255,0.6),
            0 0 100px rgba(18,247,255,0.6),
            0 0 150px rgba(18,247,255,0.6);
        }
        .elements p{
            font-size: .7rem;
            color: #bdbdbd;
            line-height: 1.5;
            margin-right: 10px;
        }
        .spanp{
            width: 90%;
        }
        .social-icons{
            display: flex;
            align-items: center;
            width: 320px;
            margin: 1rem 0 2rem;
        }

        
        
        .elements .buttons{
            display: flex;
            justify-content: space-between;
            width: 325px;
            height: 50px;
        }
        .elements .buttons .link{
            width: 50px;
            height: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            letter-spacing: 1px;
            font-size: 6.5px;
            font-weight: 400;
            box-shadow: var(--box-shadow);
            transition: 0.5s;
            border-radius: 5px;
            color: var(--style-color);
            border: 2px solid var(--style-color);
            border-radius: 50%;
            text-align: center;
        }
        .buttons .link:hover{
            color: var(--principale-color);
            background-color: #12f7ff;
        
        }
        .image0{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            box-shadow : none;
            animation: animateimg 2s ease forwards;
            position: fixed;
            position: absolute;
            top: 0%;
        }
        
        .social-icons a:nth-child(1){
            animation: animatea1 1s ease forwards;
            opacity: 0;
        }
        .social-icons a:nth-child(2){
            animation: animatea2 1s ease forwards;
            opacity: 0;
        
        } 
        .social-icons a:nth-child(3){
            animation: animatea3 1s ease forwards;
            opacity: 0;
        }
        .social-icons a:nth-child(4){
            animation: animatea4 1s ease forwards;
            opacity: 0;
        }
        .firstpage-image{
            position: absolute;
            top: 0%;
            right: 60%;
            z-index: 10001;
        }   
        .image-container{
            text-align: center;
        }
        
        .social-icons a{
            height: 20px;
            width: 20px;
            display: inline-block;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 2px solid #12f7ff;
            border-radius: 50%;
            background: transparent;
            font-size: 10px;
            color:  #12f7ff;
            margin: 10px 10px 10px 0px;
        }







        .About{
            min-height: 100vh;
            width: 400px;
            height: 100%;
            display: block;
            align-items: center;
            position: relative;

        }
        .About h1{
            color: #12f7ff;
            text-shadow: var(--text-shadow);
            padding-bottom: 5px;
            font-weight: 400;
            font-size: small;
            animation: animateabout 1s ease forwards;
            opacity: 0;
            text-align: center;
        }
        .About h2{
            padding-bottom: 8px;
            animation: animateabout 1s ease forwards;
            opacity: 0;
            text-align: center;
        }
        .About p{
            font-weight: 200;
            font-size: x-small;
            animation: animateabout 1s ease forwards;
            opacity: 0;
        }
        .About p span{
            color: #12f7ff;
            text-shadow: var(--text-shadow);
        }
        .About button{
            margin-top: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            outline: none;
            border: none;
            color: white;
            background-color:#12f7ff;
            box-shadow: var(--box-shadow);
            animation: animateabout 1s ease forwards;
            opacity: 0;
            font-size: xx-small;
            text-align: center;
        }
        .About button:hover{
            background-color: #081B29;
            transform: scale(1.1);
        }
        .image1{
            width: 210px;
            height: 210px;
            border-radius: 50%;
            box-shadow : none;
            animation: animateimg1 2s ease forwards;
            opacity: 0;
            margin-left: 50px;
        }
        .information{
            position: absolute;
            left: 10%;
        }

         










        .Services{
            min-height: 100vh;
            width: 400px;
            height: 100%;
            display: block;
            align-items: center;
            text-align: center;
            margin-top: 100px;
        }
        .cards{
            display: block;
            align-items: center;
            position: relative;
        }
        .cards div{
            width: 270px;
            height: 100%;
            border: 1.5px solid #12f7ff;
            border-radius: 10px;
        }
        .cards img{
            width: 90%;
            height: 50%;
            margin-top: 5px;
            border: 1px solid #12f7ff;
            border-radius: 7px;
            transition: .3s;
        }

        .cards a{
            color:white;
            font-size: 2em;
            color: #12f7ff;
        }
        .card0,.card1,.card2,.card3{
            padding-top: 10px;
            margin-bottom: 20px;
        }
        .card0 h2,.card1 h2,.card2 h2,.card3 h2{
            color: #12f7ff;
            text-shadow: var(--text-shadow);
         }
         .cards .link{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            font-size: small;
            background-color: transparent;
            color: var(--style-color);
            border: 1px solid var(--style-color);
            font-weight: 400;
            transition: .5s;
            box-shadow: var(--box-shadow);
            border-radius: 50%;
            margin-bottom: 10px;
            margin-left: 105px;
         }
         .cards .link:hover{
            color: var(--bg-color);
            background-color: #12f7ff;
        }
        
        
        
        
        .Services h1{
            margin-bottom: 25px;
            font-size: large;
        }
        .Services h2{
            font-size: small;
        }
        .Services span{
            color:#12f7ff;
            text-shadow: var(--text-shadow);
        }





























        .Projects{
            width: 400px;
            height: 100%;
            display: block;
            align-items: center;
            margin-top: 100px;
        }
        
        .container{
            display: block;
            width: 400px;
            height: 100%;
            
    
        }
        .purcentage{
            margin-left: 210px;
        }
        .head{
            font-size: large;
        
        }
        .tube{
            padding-top: 30px;
            
            float: left;
        }
        .lines3{
            display: none;
        }
        .lines2{
            width: 250px;
            height: 100%;
            position: absolute;
            right: 70%;
        }
        .line{
            height: 5px;
            width: 250px;
            background-color: #000;
            border-radius: 10px;
            margin-right: 185px;
            position: relative;

        }
        .css1 i{
            color: blue;
            padding-right: 7px;
        }
        .html,.css1,.boots,.php,.Python  {
            position: absolute;
            margin-left: 185px;
        }
        .html i {
            color: orangered;
            padding-right: 7px;
        }
        .boots i{
            color: rgb(77, 19, 149);
            padding-right: 7px;
        }
        .php i{
            color: rgb(24, 24, 81);
            padding-right: 7px;
        }
        .Python i{
            color: yellow;
            padding-right: 7px;
        }
        .tube h4{
            margin-right: 110px;
        }
        .css1{
            padding-right: 10px;
        }
        .boots{
            padding-left: px;
        }
        .php{
            padding-right: 20px;
        }
        .Python{
            padding-left: px;
        }
        .line .htm{
            height: 100%;
            width: 80%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate0 ease 1s forwards;
        }
        @keyframes animate0 {
            0%{
                width: 0%;
            }
            100%{
                width: 80%;
            }
        }
        .line .cs{
            height: 100%;
            width: 75%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate1 ease 1s forwards;
        }
        @keyframes animate1 {
            0%{
                width: 0%;
            }
            100%{
                width: 75%;
            }
        }
        .line .boo{
            height: 100%;
            width: 50%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate2 ease 1s forwards;
        }
        @keyframes animate2 {
            0%{
                width: 0%;
            }
            100%{
                width: 50%;
            }
        }
        .line .ph{
            height: 100%;
            width: 10%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate3 ease 1s forwards;
        }
        @keyframes animate3 {
            0%{
                width: 0%;
            }
            100%{
                width: 10%;
            }
        }
        .line .py{
            height: 100%;
            width: 60%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate4 ease 1s forwards;
        }
        @keyframes animate4 {
            0%{
                width: 0%;
            }
            100%{
                width: 60%;
            }
        }
        
        
        .line .Communication{
            height: 100%;
            width: 60%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate6 ease 1s forwards;
            
        }
        @keyframes animate6 {
            0%{
                width: 0%;
            }
            100%{
                width: 60%;
            }
        }
        .line .probleme{
            height: 100%;
            width: 70%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate7 ease 1s forwards;
        }
        @keyframes animate7 {
            0%{
                width: 0%;
            }
            100%{
                width: 70%;
            }
        }
        .line .Leadership{
            height: 100%;
            width: 60%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate8 ease 1s forwards;
        }
        @keyframes animate8 {
            0%{
                width: 0%;
            }
            100%{
                width: 60%;
            }
        }
        .line .Adaptability{
            height: 100%;
            width: 50%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate9 ease 1s forwards;
        }
        @keyframes animate9 {
            0%{
                width: 0%;
            }
            100%{
                width: 50%;
            }
        }
        .line .Teamwork{
            height: 100%;
            width: 80%;
            background-color: #12f7ff;
            border-radius: 10px;
            border: 1px solid #12f7ff;
            position: absolute;
            left: 0%;
            animation: animate10 ease 1s forwards;
        }
        @keyframes animate10 {
            0%{
                width: 0%;
            }
            100%{
                width: 80%;
            }
        }


















        .Contact{
            min-height: 100vh;
            width: 400px;
            height: 100%;
            display: block;
            align-items: center;
            margin-top: 100px;
            position: relative;

}
.main{
    display: block;


   
    
}
.Contact span{
    color: #12f7ff;
    text-shadow: var(--text-shadow);
}
.Contact h1{
    font-size: large;
    margin-bottom: 10px;
    text-align: center;
}
.Contact input{
    height: 45px;
    width: 280px;
    outline: none;
    border-radius: 7px;
    border: none;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 10px;
    background-color: rgb(164, 160, 160);
}
textarea{
    width: 280px;
    border-radius: 7px;
    height: 225px;
    margin-top: 3px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: rgb(164, 160, 160);
}
.butn{
    position:relative;
}

.Contact button{
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color:#12f7ff;
    box-shadow: var(--box-shadow);
    margin-right: 120px;
    transition: .5s;
    animation: animatebutt 1.5s ease forwards;
    opacity: 0;
    position: absolute;
    left: 0%;
}


.infopers{
    position: relative;
}
.infopers h3{
    margin-right: 250px;

}
.infopers .num{
    margin-right: 170px;
}
.main h2{
    color: var(--style-color);
    font-size: small;
    font-weight: 400;
    padding-bottom: 20px;
    text-shadow: var(--text-shadow);
}
.main h3{
    color: var(--style-color);
    font-weight: 500;
}


i{
    transition: .5s;
}
i:hover{
    transform: rotate(360deg);

}
.right{
    animation: animateright 3s ease forwards;
    opacity: 0;
}

.left{
    animation: animateleft 3s ease forwards;
    opacity: 0;
}

textarea{
    animation: animatetext 4s ease forwards;
    opacity: 0;
}

.container2 .bottom{
 
    position: fixed;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid transparent;
    background-color:#010508;
}
         
        


}
